/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-ene-2017, 16:29:59
    Author     : Alejandro
*/

/*Imagen de fondo para la escena*/
.root {
    -fx-background-image: url("background.jpg");
}

/*Labels*/
.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

/*Texto de bienvenida (Text)*/
#texto_bienvenida {
   -fx-font-size: 40px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

/*Texto de mensaje hacer clic en el botón (Text)*/
#mensaje {
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}

/*Buttons*/
.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
/*Hover de los botones*/
.button:hover {
     -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}